/* custom CSS by matt huber to fix background colors.*/

table.ddTableFilter th {
    background: #0099cb;
    color: white;
}
table.ddTableFilter tr.subhead td {
    background: #99dce6;
    background: #7bcfeb;
    border-bottom: none;
    color: white;
    font-weight: normal;
    border-top: solid 1px #0099cb;
}
table.ddTableFilter tr.subhead td a {
    color: white;
    font-weight: normal;
}